<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OPCIP" value="127.0.0.1" />
    <add key="OPCNAME" value="Kepware.KEPServerEX.V4" />
    <add key="OPCPATH" value="FAW." />
    <add key="OPCDuration" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SERVICENAME" value="DX.CCRSkidService" />
    <add key="SERVICDESCRIPTION" value="滑撬号识别服务" />
    <add key="SERVICEINSTALL" value="已安装" />
    <add key="SERVICEUNINSTALL" value="未安装" />
    <add key="SERVICESTATERUNING" value="正在运行" />
    <add key="SERVICESTATESTOPED" value="已停止" />
    <add key="CAMERAPATH" value="http://root:pass@10.228.143.5/axis-cgi/mjpg/video.cgi"></add>
    <!-- <add key="CAMERAPATH" value="0" /> -->
    <add key="LOGPATH" value=".\\logs\\Communication.log"/>
    <add key="SNAPIMAGEPATH" value=".\\snapimage"/>
    <add key="BKIMAGE" value=".//bkimage.bmp"/>
    <!--OPC Server DB参数-->
    <add key="OPC_DONE" value="ssg122.CCR_Skid.iden_Done" />
    <add key="OPC_LIFT" value="ssg122.CCR_Skid.iden_Lift" />
    <add key="OPC_RESULT" value="ssg122.CCR_Skid.iden_Result" />
    <add key="OPC_RESULT0" value="ssg122.CCR_Skid.iden_Result[0]" />
    <add key="OPC_RESULT1" value="ssg122.CCR_Skid.iden_Result[1]" />
    <add key="OPC_RESULT2" value="ssg122.CCR_Skid.iden_Result[2]" />
    <add key="OPC_RESULT3" value="ssg122.CCR_Skid.iden_Result[3]" />
    <add key="OPC_START" value="ssg122.CCR_Skid.iden_Start" />
    <add key="OPC_MOBY0" value="ssg122.CCR_Skid.Moby_Data[0]" />
    <add key="OPC_MOBY1" value="ssg122.CCR_Skid.Moby_Data[1]" />
    <add key="OPC_MOBY2" value="ssg122.CCR_Skid.Moby_Data[2]" />
    <add key="OPC_MOBY3" value="ssg122.CCR_Skid.Moby_Data[3]" />
    <add key="OPC_09" value="ssg122.CCR_Skid.RES2" />
    <add key="OPC_10" value="ssg122.CCR_Skid.Res30" />
    <add key="OPC_11" value="ssg122.CCR_Skid.Res31" />
    <add key="OPC_12" value="ssg122.CCR_Skid.Res32" />
    <add key="OPC_13" value="ssg122.CCR_Skid.Res33" />
  </appSettings>
</configuration>